# === Qt/C++ build files ===
*.pro.user
*.pro.user.*
*.o
*.obj
*.pdb
*.dylib
*.app
qrc_*
moc_*
ui_*
build-*
Makefile

# === Project related directories ===
/build
/octproz_extensions
/octproz/misc
/octproz_share_dev
/octproz_project/octproz_extensions
/octproz_project/octproz/misc
/octproz_project/octproz_share_dev

# === Python related directories ===
**/.venv/