*.pro.user
*.pro.user.*
/octproz_extensions
/octproz/misc
/octproz_share_dev
/build
/octproz_project/octproz_extensions
/octproz_project/octproz/misc
/octproz_project/octproz_share_dev
*.o
*.obj
*.pdb
*.dylib
*.app
qrc_*
moc_*
ui_*
build-*
Makefile